@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  padding: 0em;
  font-family: 'Inter',sans-serif;
  font-size: 14px;
}

.button-normal {
  border: 1px solid #555;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
}